fastapi
uvicorn
pydantic
python-multipart
typing-extensions>=4.12.2
pandas
langdetect
python-dotenv

# Base de données
mysql-connector-python

# IA / NLP
transformers
torch
sentence-transformers
huggingface-hub

# Utilitaires
numpy
scikit-learn